<div class="overflow-y-scroll cursor-pointer" style="height: 500px;" id="personalPlay">
    <div class="p-1 flex items-center justify-center font-semibold">

        Today

    </div>
    <!-- bot msg -->
    <div class="mt-4 px-2">

        <div class="">
            <span class="bg-white p-2 rounded-md text-xl">Hello! I'm here to help. What tasks do you
                need to assign?</span>
            <h5 class="mt-2 text-sm">11.30</h5>
        </div>

    </div>

    <!-- user reply -->
    <div class="mt-4 px-2 flex justify-end items-end ">

        <div class="w-3/4">
            <span class="bg-white p-2 rounded-md text-xl flex">We have a project deadline coming up,
                and
                I need to assign tasks to team members. Can you help me organize that?</span>
            <h5 class="mt-2 text-sm text-end">11.30</h5>
        </div>

    </div>


    

</div>