<div class="overflow-y-scroll cursor-pointer" style="height: 500px;" id="groupPlay">
    <div class="p-1 flex items-center justify-center font-semibold">

        Today

    </div>
    <!-- user 1 msg -->
    <!-- <div class="mt-4 px-2 w-3/4">
        <div>
            <span class="text-black font-semibold">Alice</span>
        </div>

        <div class="">
            <span class="bg-white p-2 rounded-md text-xl flex ">Good morning, team! Just a reminder that our project deadline is approaching. How's everyone doing with their tasks?</span>
            <h5 class="mt-2 text-sm">11.30</h5>
        </div>

    </div> -->

   
</div>