<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My College</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/private.css">
    <!-- Fonts -->
    <script src="https://kit.fontawesome.com/e4a2ea9e4b.js" crossorigin="anonymous"></script>
</head>


<body class="font-Inter">
    <div class="grid grid-cols-1 lg:grid-cols-6 ">
        <!-- SideBar -->
        <aside class="col-span-1 bg-blue py-4 lg:h-screen hidden lg:block leftLoad">
            <!-- logo -->
            <div class="text-white lg:text-center lg:ml-0 ml-4 lg:py-2 ">
                <span class="title text-4xl mt-4">CCHub</span>

            </div>


            <!-- Navigation -->
            <div class=" navigation">
                <ul class="text-white text-2xl text-center flex flex-col  mt-8">
                    <li class="customHover">
                        <a href="/dash">Dashboard</a>
                    </li>
                    <li class="customHover  bg-white text-black ml-4 rounded-l-2xl ">
                        <a href="/events">Events</a>
                    </li>
                    <li class="customHover ">
                        <a href="/communities">Communities</a>
                    </li>
                    <li class="customHover ">
                        <a href="/messages">Messages</a>
                    </li>
                    <!-- <li class="customHover  bg-white text-black ml-4 rounded-l-2xl">
                        <a href="/logout">My College</a>
                    </li> -->
                    <li class=" flex justify-center items-center gap-x-2 cursor-pointer mt-2" id="LogOut">
                        <a href="/logout">LogOut</a> <i class="fa-solid fa-right-from-bracket fa-xs text-violet" ></i>
                    </li>
                </ul>
            </div>

        </aside>

        <!-- Main -->
        <main class="col-span-5 overflow-y-scroll h-screen bg-stone" >

            <!-- Mobile Header -->
            <div
                class="top-0 left-0 bg-blue lg:hidden py-5 pl-3 flex flex-row justify-between items-center sticky z-20">
                <span class="text-4xl text-white  ">
                    Student'sHub
                </span>

                <div class="mr-4">
                    <button class="bg-white p-2 rounded-sm" id="MenuShowBtn">
                        <i class="fa-solid fa-bars" style="color: #10107b;"> </i>
                    </button>
                </div>


                <!-- Mobile Navbar -->
                <div class="absolute top-0 right-0 text-white bg-blue px-6 text-3xl pb-4  pt-2 rounded-l-sm hidden  mblNavbar"
                    id="MobileMenu">
                    <div>
                        <div class="flex flex-row justify-between items-center mt-2">
                            <div class="flex flex-row">
                                <a href="/profile" class="flex flex-row"><img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="ml-1 flex flex-col">
                                        <h3 class="text-lg">Prajwal</h3>
                                        <span class="text-xs opacity-[0.8]">Admin</span>
                                    </div></a>
                           
                                
                            </div>
                            <div>
                                <button class="bg-white px-1  rounded-sm " id="MenuCloseBtn">
                                    <i class="fa-solid fa-xmark fa-xs " style="color: #072964;"></i>
    
                                </button>
                            </div>
                         
                        </div>
                        <ul class="px-4 text-xl">

                            <a href="/dash">
                                <li class="mt-6"> <i class="fa-solid fa-user fa-sm mr-2"
                                        style="color: #ffffff;"></i>Dashboard</li>
                            </a>
                            <a href="/events">
                                <li class="mt-6"><i class="fa-regular fa-calendar fa-sm mr-2"
                                        style="color: #ffffff;"></i>Events</li>
                            </a>
                            <a href="/communities">
                                <li class="mt-6"><i class="fa-solid fa-user-group fa-sm mr-2"
                                        style="color: #ffffff;"></i>Communities</li>
                            </a>
                            <a href="/messages">
                            <li class="mt-6"><i class="fa-solid fa-message fa-sm mr-2"
                                    style="color: #ffffff;"></i>Messages</li>
                        </a>

                            <!-- <a href="/logout">
                                <li class="mt-6"><i class="fa-solid fa-building-columns fa-sm mr-2"
                                        style="color: #ffffff;"></i>My College</li>
                            </a> -->
                            <a href="/logout">
                                <li class="mt-6" ><i class="fa-solid fa-right-from-bracket fa-xs mr-2" ></i>LogOut</li>
                            </a>

                        </ul>
                    </div>
                </div>

            </div>


            <!-- Header -->
            <header class="shadow-md hidden lg:grid grid-cols-3 px-4 py-4">
                <div>
                    <span class="text-3xl font-thin opacity-80">Events</span>
                </div>

                <!-- Search Bar -->
                <div>
                    <div class="relative  flex w-full flex-wrap items-stretch ">
                        <input type="search"
                            class="relative m-0 block min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                            placeholder="Search" aria-label="Search" aria-describedby="button-addon2" />

                        <!--Search icon-->
                        <span
                            class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
                            id="basic-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="h-5 w-5 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                    </div>
                </div>
                <!-- Profile Info -->
                <div class="flex justify-end items-center">
                    <!-- Bell Icon -->
                    <!-- <i class="fa-solid fa-xl fa-bell mr-12"></i> -->
                    <!-- Profile Info -->
                    <div class="flex flex-col mr-6 ">
                        <h3 class="text-xl">Prajwal</h3>
                        <h6 class="text-sm text-end">Admin</h6>
                    </div>
                    <!-- Proifle Picture -->
                    <a href="/profile"><img src="img1/profle-picture.png" alt="Profile Picture"
                        class="h-12 w-12  rounded-full cursor-pointer"></a>
                    

                </div>

            </header>

            <!-- Image Slider -->
            <section class="hidden lg:block px-4  mt-4">
                <div class="container rounded-md">
                    <div class="slides">
                        <div class="slide">
                            <img src="img1/event1.jpeg" alt="" class="brightness-50"/>
                            <div class="slide-content p-12">
                                <h1 class="text-white text-5xl">Event Heading</h1>
                                <span class="text-white mt-8 text-xl ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, recusandae! Aut consequuntur a voluptatibus quo temporibus saepe nemo officia, alias ea excepturi recusandae vero iusto commodi, molestiae sapiente esse incidunt sunt illum beatae corporis veritatis? Suscipit laborum, veritatis similique sapiente sint magnam velit dolore, harum dignissimos dolor eos, repellat quos!</span>
                                <a href="eventHome.html" class=""><br><button class="text-white clgBtnHover mt-4 rounded-sm px-4 py-2 bg-violet">
                                    View Event
                                </button></a>
                            </div>
                          
                        </div>
                        <div class="slide">
                            <img src="img1/event2.jpeg" alt="" class="brightness-50"/>
                            <div class="slide-content p-12">
                                <h1 class="text-white text-5xl">Event Heading</h1>
                                <span class="text-white mt-8 text-xl ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, recusandae! Aut consequuntur a voluptatibus quo temporibus saepe nemo officia, alias ea excepturi recusandae vero iusto commodi, molestiae sapiente esse incidunt sunt illum beatae corporis veritatis? Suscipit laborum, veritatis similique sapiente sint magnam velit dolore, harum dignissimos dolor eos, repellat quos!</span>
                                <a href="eventHome.html" class=""><br><button class="text-white clgBtnHover mt-4 rounded-sm px-4 py-2 bg-violet">
                                    View Event
                                </button></a>
                            </div>
                        </div>
           
                        <div class="slide">
                            <img src="img1/event3.jpeg" alt="" class="brightness-50"/>
                            <div class="slide-content p-12">
                                <h1 class="text-white text-5xl">Event Heading</h1>
                                <span class="text-white mt-8 text-xl ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, recusandae! Aut consequuntur a voluptatibus quo temporibus saepe nemo officia, alias ea excepturi recusandae vero iusto commodi, molestiae sapiente esse incidunt sunt illum beatae corporis veritatis? Suscipit laborum, veritatis similique sapiente sint magnam velit dolore, harum dignissimos dolor eos, repellat quos!</span>
                                <a href="eventHome.html" class=""><br><button class="text-white clgBtnHover mt-4 rounded-sm px-4 py-2 bg-violet">
                                    View Event
                                </button></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-controls">
                        <button id="prev-btn">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button id="next-btn">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </section>


            <!-- Events -->
            <section class="p-4 bg-stone">
                <!-- Events section header -->
                <div>
                    <span class="text-3xl font-thin ">Upcoming </span><span
                        class="text-3xl text-violet font-thin">Events</span>
                </div>
                
                <%- include('../components/event_card') %>
                
                <div class="flex justify-center items-center mt-6">
                    <button   class="bg-violet rounded-md text-white p-3 btnHover"onclick="toggleDiv(),toggleText(this)">
                        Load more...
                    </button>
                </div>
            </section>

            <!-- Create Events -->
            <section class="grid grid-cols-1  md:grid-cols-2 p-4">
                <div class=" flex sm:justify-end justify-center items-center">
                    <img src="img1/createEvents.png" alt="">
                </div>
                <div class=" flex sm:justify-start  items-center my-6 ">
                    <div class="flex justify-center items-center flex-col">
                        <span class="text-4xl font-semibold  ">Make your own Event</span>
                        <p class="text-md font-thin mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Temporibus voluptas quaerat, nam vero alias ad nobis optio officiis numquam aliquid.</p>
                        <% if(Role == 'User'){ %>
                        <a id="forAdmin" href="#">
                            <button class="bg-violet text-white rounded-md self-center  py-3 px-7 mt-6 btnHover">
                                Ask Admin !!!
                            </button>
                        </a>
                        <% }else { %>
                            <a id="forAdmin" href="/creation">
                                <button class="bg-violet text-white rounded-md self-center  py-3 px-7 mt-6 btnHover">
                                    Create Events
                                </button>
                            </a>                           
                        <% } %>


                    </div>



                </div>


            </section>
        </main>
    </div>
    <script>
        const MenuShowBtn = document.querySelector('#MenuShowBtn');
        const MobileMenu = document.querySelector('#MobileMenu');
        const MenuCloseBtn = document.querySelector('#MenuCloseBtn');



        MenuShowBtn.addEventListener('click', disMenu);
        MenuCloseBtn.addEventListener('click', hideMenu)

        function disMenu() {
            MobileMenu.classList.toggle('hidden');
        }

        function hideMenu() {
            MobileMenu.classList.toggle('hidden');
        }



        //Load More Events
        function toggleDiv() {
            var myDiv = document.getElementById("myDiv");
            myDiv.classList.toggle("hidden");
          
        }
        function toggleText(button) {
            // Toggle the text of the button
            if (button.innerText === "Load more...") {
                button.innerText = "...Load less";
            } else {
                button.innerText = "Load more...";
            }
            
        }

        

        //LogOut
        const LogOut = document.getElementById('LogOut') 
       
        
       LogOut.addEventListener('click',function(){
           confirm('Are you sure to LogOut?');
           window.location.href = '/logout';
       })

       const slideContainer = document.querySelector('.container');
        const slide = document.querySelector('.slides');
        const nextBtn = document.getElementById('next-btn');
        const prevBtn = document.getElementById('prev-btn');
        const interval = 1200;

        let slides = document.querySelectorAll('.slide');
        let index = 1;
        let slideId;

        const firstClone = slides[0].cloneNode(true);
        const lastClone = slides[slides.length - 1].cloneNode(true);

        firstClone.id = 'first-clone';
        lastClone.id = 'last-clone';

        slide.append(firstClone);
        slide.prepend(lastClone);

        const slideWidth = slides[index].clientWidth;

        slide.style.transform = `translateX(${-slideWidth * index}px)`;

        console.log(slides);

        const startSlide = () => {
            slideId = setInterval(() => {
                moveToNextSlide();
            }, interval);
        };

        const getSlides = () => document.querySelectorAll('.slide');

        slide.addEventListener('transitionend', () => {
            slides = getSlides();
            if (slides[index].id === firstClone.id) {
                slide.style.transition = 'none';
                index = 1;
                slide.style.transform = `translateX(${-slideWidth * index}px)`;
            }

            if (slides[index].id === lastClone.id) {
                slide.style.transition = 'none';
                index = slides.length - 2;
                slide.style.transform = `translateX(${-slideWidth * index}px)`;
            }
        });

        const moveToNextSlide = () => {
            slides = getSlides();
            if (index >= slides.length - 1) return;
            index++;
            slide.style.transition = '.7s ease-out';
            slide.style.transform = `translateX(${-slideWidth * index}px)`;
        };

        const moveToPreviousSlide = () => {
            if (index <= 0) return;
            index--;
            slide.style.transition = '.7s ease-out';
            slide.style.transform = `translateX(${-slideWidth * index}px)`;
        };

        slideContainer.addEventListener('mouseenter', () => {
            clearInterval(slideId);
        });

        slideContainer.addEventListener('mouseleave', startSlide);
        nextBtn.addEventListener('click', moveToNextSlide);
        prevBtn.addEventListener('click', moveToPreviousSlide);

        startSlide();





    </script>
    <script src="js/count-time.js"></script>
</body>

</html>