<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/private.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon/cclogo.png">
    <!-- Fonts -->
    <script src="https://kit.fontawesome.com/e4a2ea9e4b.js" crossorigin="anonymous"></script>
</head>


<body class="font-Inter  overflow-hidden">
    <div class="grid grid-cols-1 lg:grid-cols-6 h-screen ">
        <!-- SideBar -->
        <aside class="col-span-1 bg-blue py-4 lg:h-screen hidden lg:block leftLoad ">
            <!-- logo -->
            <div class="text-white lg:text-center lg:ml-0 ml-4 lg:py-2 ">
                <span class="title text-4xl mt-4">CCHub</span>

            </div>


            <!-- Navigation -->
            <div class=" navigation">
                <ul class="text-white text-2xl text-center flex flex-col  mt-10">
                    <li class="customHover">
                        <a href="/dash">Dashboard</a>
                    </li>
                    <li class="customHover ">
                        <a href="/events">Events</a>
                    </li>
                    <li class="customHover ">
                        <a href="/communities">Communities</a>
                    </li>
                    <li class="customHover  bg-white text-black ml-4 rounded-l-2xl">
                        <a href="/message">Messages</a>
                    </li>
                    <!-- <li class="customHover">
                        <a href="myCollege.html">My College</a>
                    </li> -->
                    <li class=" flex justify-center items-center gap-x-2 cursor-pointer mt-2" id="LogOut">
                         <i class="fa-solid fa-right-from-bracket fa-xs text-violet"><a href="/logout">LogOut</a></i>
                    </li>
                </ul>
            </div>

        </aside>

        <!-- Main -->
        <main class="col-span-5 overflow-hidden">

            <!-- Mobile Header -->
            <div
                class="top-0 left-0 bg-blue lg:hidden py-5 pl-3 flex flex-row justify-between items-center sticky z-20">
                <span class="text-4xl text-white  ">
                    CCHub
                </span>

                <div class="mr-4">
                    <button class="bg-white p-2 rounded-sm" id="MenuShowBtn">
                        <i class="fa-solid fa-bars" style="color: #10107b;"> </i>
                    </button>
                </div>


                <!-- Mobile Navbar -->
                <div class="absolute top-0 right-0 text-white bg-blue px-6 text-3xl pb-4  pt-2 rounded-l-sm hidden mblNavbar "
                    id="MobileMenu">
                    <div>
                        <div class="flex flex-row justify-between items-center mt-2">
                            <div class="flex flex-row">
                                <a href="/profile" class="flex flex-row"><img src="img1/profle-picture.png"
                                        alt="" class="h-12 w-12 rounded-full">
                                    <div class="ml-1 flex flex-col">
                                        <h3 class="text-lg">Prajwal</h3>
                                        <span class="text-xs opacity-[0.8]">Admin</span>
                                    </div>
                                </a>


                            </div>
                            <div>
                                <button class="bg-white px-1  rounded-sm " id="MenuCloseBtn">
                                    <i class="fa-solid fa-xmark fa-xs self-center mt-1" style="color: #072964;"></i>

                                </button>
                            </div>

                        </div>
                        <ul class="px-4 text-xl">

                            <a href="/dash">
                                <li class="mt-6"> <i class="fa-solid fa-user fa-sm mr-2"
                                        style="color: #ffffff;"></i>Dashboard</li>
                            </a>
                            <a href="/events">
                                <li class="mt-6"><i class="fa-regular fa-calendar fa-sm mr-2"
                                        style="color: #ffffff;"></i>Events</li>
                            </a>
                            <a href="/communities">
                                <li class="mt-6"><i class="fa-solid fa-user-group fa-sm mr-2"
                                        style="color: #ffffff;"></i>Communities</li>
                            </a>
                            <a href="/messages">
                                <li class="mt-6"><i class="fa-solid fa-message fa-sm mr-2"
                                        style="color: #ffffff;"></i>Messages</li>
                            </a>

                            <!-- <a href="myCollege.html">
                                <li class="mt-6"><i class="fa-solid fa-building-columns fa-sm mr-2"
                                        style="color: #ffffff;"></i>My College</li>
                            </a> -->
                            <a href="/logout">
                                <li class="mt-6"><i class="fa-solid fa-right-from-bracket fa-xs mr-2"></i>LogOut</li>
                            </a>

                        </ul>
                    </div>
                </div>

            </div>


            <!-- Header -->
            <header class="shadow-md hidden lg:grid grid-cols-3 px-4 py-4">
                <div>
                    <span class="text-3xl font-thin opacity-80">Messages</span>
                </div>

                <!-- Search Bar -->
                <div>

                </div>
                <!-- Profile Info -->
                <div class="flex justify-end items-center">
                    <!-- Bell Icon -->
                    <!-- <i class="fa-solid fa-xl fa-bell mr-12"></i> -->
                    <!-- Profile Info -->
                    <div class="flex flex-col mr-6 ">
                        <h3 class="text-xl">Prajwal</h3>
                        <h6 class="text-sm text-end">Admin</h6>
                    </div>
                    <!-- Proifle Picture -->
                    <a href="/profile"><img src="img1/profle-picture.png" alt="Profile Picture"
                            class="h-12 w-12  rounded-full cursor-pointer"></a>


                </div>

            </header>

            <section class="grid  grid-cols-1 lg:grid-cols-4">
                <section class="p-2 col-span-1  ">
                    <div class="">
                        <span class="text-3xl text-violet">
                            Chats
                        </span>

                    </div>
                    <div class="bg-stone p-1  ">
                        <div class="bg-white flex items-center justify-between  ">
                            <input type="text " class="w-3/4 p-1 focus:outline-none" placeholder="Search user">
                            <div class="px-4">
                                <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                            </div>

                        </div>
                    </div>

                    <div class="mt-4 flex flex-col gap-y-2 ">
                        <!-- chat 1 -->
                        <div class="p-1 actChat cursor-pointer bg-blue text-white act">
                            <div class="px-1  flex flex-row items-center">
                                <img src="img1/bot.jpg" alt="" class="h-12 w-12 rounded-full">
                                <div class="px-2">
                                    <span class="text-xl">Chat with the bot</span>
                                </div>
                            </div>
                        </div>
                        <!-- chat 2 -->
                        <div class="p-1 actChat cursor-pointer">
                            <div class="px-1 flex flex-row items-center">
                                <img src="img1/group.jpg" alt="" class="h-12 w-12 rounded-full">
                                <div class="px-2">
                                    <span class="text-xl">Community Group</span>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-1 text-stone">

                        <!-- user chats -->
                        <div class="overflow-y-scroll h-44">

                            <!-- chat 3 -->
                            <div class="mt-1 p-1 actChat cursor-pointer">
                                <div class="px-1 flex flex-row items-center">
                                    <img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="px-2 flex items-start flex-col justify-center">
                                        <span class="text-xl">Harsh Yadav</span>
                                        <h3>Backend Developer</h3>
                                    </div>
                                </div>
                            </div>

                            <!-- chat 4 -->
                            <div class="mt-1 p-1 actChat cursor-pointer">
                                <div class="px-1 flex flex-row items-center">
                                    <img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="px-2 flex items-start flex-col justify-center">
                                        <span class="text-xl">Harsh Yadav</span>
                                        <h3>Backend Developer</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 p-1 actChat cursor-pointer">
                                <div class="px-1 flex flex-row items-center">
                                    <img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="px-2 flex items-start flex-col justify-center">
                                        <span class="text-xl">Harsh Yadav</span>
                                        <h3>Backend Developer</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 p-1 actChat cursor-pointer">
                                <div class="px-1 flex flex-row items-center">
                                    <img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="px-2 flex items-start flex-col justify-center">
                                        <span class="text-xl">Harsh Yadav</span>
                                        <h3>Backend Developer</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 p-1 actChat cursor-pointer">
                                <div class="px-1 flex flex-row items-center">
                                    <img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="px-2 flex items-start flex-col justify-center">
                                        <span class="text-xl">Harsh Yadav</span>
                                        <h3>Backend Developer</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1 p-1 actChat cursor-pointer">
                                <div class="px-1 flex flex-row items-center">
                                    <img src="img1/profle-picture.png" alt="" class="h-12 w-12 rounded-full">
                                    <div class="px-2 flex items-start flex-col justify-center">
                                        <span class="text-xl">Harsh Yadav</span>
                                        <h3>Backend Developer</h3>
                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>

                </section>
                <section class="col-span-3 bg-stone h-screen gap-2">
                    <div class="bg-blue text-white p-2">
                        <div class="flex items-center gap-2">
                            <img src="img1/bot.jpg" alt="" class="h-16 w-16 rounded-full">
                            <div>
                                <span class="text-2xl">Let me help you with your tasks!</span>
                            </div>
                        </div>
                    </div>

                    <!-- chats -->
                    <div class="overflow-y-scroll cursor-pointer" style="height: 500px;">
                        <div class="p-1 flex items-center justify-center font-semibold">

                            Today

                        </div>
                        <!-- bot msg -->
                        <div class="mt-4 px-2">

                            <div class="">
                                <span class="bg-white p-2 rounded-md text-xl">Hello! I'm here to help. What tasks do you
                                    need to assign?</span>
                                <h5 class="mt-2 text-sm">11.30</h5>
                            </div>

                        </div>

                        <!-- user reply -->
                        <div class="mt-4 px-2 flex justify-end items-end ">

                            <div class="w-3/4">
                                <span class="bg-white p-2 rounded-md text-xl flex">We have a project deadline coming up,
                                    and
                                    I need to assign tasks to team members. Can you help me organize that?</span>
                                <h5 class="mt-2 text-sm text-end">11.30</h5>
                            </div>

                        </div>


                        <!-- bot msg -->
                        <div class="mt-4 px-2">

                            <div class="w-3/4">
                                <span class="bg-white p-2 rounded-md text-xl flex"> Absolutely! Let's start by listing
                                    out
                                    the tasks that need to be completed for the project.</span>
                                <h5 class="mt-2 text-sm">11.30</h5>
                            </div>

                        </div>

                        <!-- user reply -->
                        <div class="mt-4 px-2 flex justify-end items-end ">

                            <div class="w-3/4">
                                <span class="bg-white p-2 rounded-md text-xl flex"> Sure. We need to design the UI,
                                    develop
                                    backend functionality, write documentation, and conduct testing.</span>
                                <h5 class="mt-2 text-sm text-end">11.30</h5>
                            </div>

                        </div>



                        <!-- bot reply -->
                        <div class="mt-4 px-2">

                            <div class="w-3/4">
                                <span class="bg-white p-2 rounded-md text-xl flex"> Great. Now, who are the team members
                                    involved in this project?</span>
                                <h5 class="mt-2 text-sm">11.30</h5>
                            </div>

                        </div>
                    </div>

                    <!-- send -->
                    <div class="bg-l-sky-blue px-2   flex justify-center items-center" style="height: 80px;">

                        <div class="w-full flex items-center justify-center px-4">
                            <input type="text" class=" w-3/4 p-2 rounded-lg focus:outline-none text-lg font-thin">
                            <div class="">
                                <button class="ml-4 bg-blue text-white py-2 px-4 rounded-lg"><span class="font-thin text-lg">Send</span>
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                       
                        </div>

                    </div>

    </div>


    </section>

    </section>





    </main>
    </div>

</body>


<script>
    //mobile
    const MenuShowBtn = document.querySelector('#MenuShowBtn');
    const MobileMenu = document.querySelector('#MobileMenu');
    const MenuCloseBtn = document.querySelector('#MenuCloseBtn');


    MenuShowBtn.addEventListener('click', disMenu);
    MenuCloseBtn.addEventListener('click', hideMenu)

    function disMenu() {
        MobileMenu.classList.toggle('hidden');
    }

    function hideMenu() {
        MobileMenu.classList.toggle('hidden');
    }





    //LogOut
    const LogOut = document.getElementById('LogOut')


    LogOut.addEventListener('click', function () {
        confirm('Are you sure to LogOut?');

    })





    //active chats
    const chatList = document.querySelectorAll('.actChat');


    chatList.forEach(e => {
        e.addEventListener('click', () => {
            document.querySelector('.act')?.classList.remove('text-white', 'bg-blue', 'act');
            e.classList.add('bg-blue', 'text-white', 'act');


        })
    })
    console.log(chatList)




</script>

</html>