<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communities</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/cclogo.png">
</head>
<script src="https://kit.fontawesome.com/e4a2ea9e4b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/communities.css">

<body>
    <div class="main">
        <div class="gaurav">
            <div class="nav-title">
                <span id="logo" >Student'sHub</span>
            </div>
            <div class="navigation">
                <ul>
                    <li class="list ">
                        <a href="/dash">
                            <span class="icon "><i class="fa-solid fa-table-columns"></i></span>
                            <sapn class="title">Dashboard</sapn>
                        </a>
                    </li>
                    <li class="list ">
                        <a href="/event">
                            <span class="icon "><i class="fa-regular fa-calendar-days"></i></span>
                            <sapn class="title">Events</sapn>
                        </a>
                    </li>
                    <li class="list active">
                        <a href="/community">
                            <span class="icon"><i class="fa-solid fa-people-line"></i></span>
                            <sapn class="title">Communities</sapn>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/message">
                            <span class="icon"><i class="fa-solid fa-message"></i></span>
                            <sapn class="title">Messages</sapn>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/setting">
                            <span class="icon"><i class="fa-solid fa-gear"></i></span>
                            <sapn class="title">Settings</sapn>
                        </a>
                    </li>
                    </li>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <sapn class="title">LogOut</sapn>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-page">
           <div class="header-bar">
            <div class="header-left"><span class="head-title">Communities</span></div>
            <div class="header-right">
                <a href="#">
                    <i class="fa-solid fa-bell fa-lg"></i>
                </a>
                <img src="/assets/images/profile-img.png" class="profile-img" alt="">
            </div>
           </div>
        </div>
    </div>
       
</body>
<!-- Navbar Script -->
<script>
    //adding active class in selected list item
    // let list = document.querySelectorAll('.list');
    // for(let i = 0; i<list.length; i++){
    //     list[i].onclick = function(){
    //         let j=0;
    //         while (j<list.length){
    //             list[j++].className = 'list';

    //         }
    //         list[i].className = 'list active'
    //     }
    // }
</script>

</html>