<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/cclogo.png">
</head>
<script src="https://kit.fontawesome.com/e4a2ea9e4b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/dashboard.css">
<script src="https://kit.fontawesome.com/e4a2ea9e4b.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/x-icon" href="/assets/favicon/cclogo.png">
<script>
    
</script>
<body>
    <div class="main">
        <div class="gaurav">
            <div class="nav-title">
                <span id="logo">Student'sHub</span>
            </div>
            <div class="navigation">
                <ul>
                    <li class="list active">
                        <a href="/dash">
                            <span class="icon"><i class="fa-solid fa-table-columns"></i></span>
                            <sapn class="title">Dashboard</sapn>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/event">
                            <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                            <sapn class="title">Events</sapn>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/community">
                            <span class="icon"><i class="fa-solid fa-people-line"></i></span>
                            <sapn class="title">Communities</sapn>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/message">
                            <span class="icon"><i class="fa-solid fa-message"></i></span>
                            <sapn class="title">Messages</sapn>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/setting">
                            <span class="icon"><i class="fa-solid fa-gear"></i></span>
                            <sapn class="title">Settings</sapn>
                        </a>
                    </li>
                    </li>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <sapn class="title">LogOut</sapn>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-page">
            <div class="header-bar">
                <div class="header-left"><span class="head-title">Dashboard</span>
                </div>
                <div class="header-right">
                    <a href="#">
                        <i class="fa-solid fa-bell fa-lg"></i>
                    </a>
                    <img src="/assets/images/profile-img.png" class="profile-img" alt="">
                </div>
            </div>


            <!-- Main Content -->

            <!---Section 1 -->
            <div class="section-1">
                <div class="card-1">
                    <h3 class="card-text">Ongoing Events</h3>
                    <div class="num"><span class="card-num">09</span></div>

                </div>
                <div class="card splcard">
                    <h3 class="card-text">Screen Time</h3>
                    <div class="num"><span class="card-num"> 09 Hrs</span></div>

                </div>
                <div class="card">
                    <h3 class="card-text">Project Impressions </h3>
                    <div class="num"><span class="card-num">56%</span></div>

                </div>
                <div class="card">
                    <h3 class="card-text">Ongoing Events</h3>
                    <div class="num"><span class="card-num">09</span></div>

                </div>
            </div>
            <!--- Section2 -->
            <div class="section-2">
               <!-- LEft Panel -->
                <div class="left">
                    <div class="top-panel">
                      <span>User Activity Graph!</span>
                    </div>
                    <div class="bottom-panel">
                        <div class="bottom-left-temp">
                            <span>You have 12 insights from SPCA and 2 pending submission of Hacktober</span>
                            <div class="bottom-info">
                                <span>Updated<span>
                                <p>Today</p>

                            </div>
                            
                        </div>
                        <div class="bottom-right-temp">
                            <i class="fa-brands fa-facebook fa-2xl" style="color: #f9fafb;"></i>
                            <i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff;"></i>
                            <i class="fa-brands fa-instagram fa-2xl" style="color: #edeff2;"></i>
                        </div>
                    </div>

                </div>
                <div class="right">
                    <span>Tasks Assigned</span>
                    <div class="template-1">
                        <div class="top">
                            <div class="top-left">
                                Research
                            </div>
                            <div class="top-right">
                                Done
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde facere ullam amet delectus quaerat? Consequuntur.</p>
                        </div>
                        <div class="bottom">
                            <div class="icon">
                                <i class="fa-regular fa-calendar"></i> <span> Oct 26</span>
                            </div>

                            <div class="icon">
                                <i class="fa-solid fa-paperclip"></i><span>5</span>
                            </div>

                        </div>
                    </div>
                    <div class="template-1">
                        <div class="top">
                            <div class="top-left">
                                Research
                            </div>
                            <div class="top-right">
                                Done
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde facere ullam amet delectus quaerat? Consequuntur.</p>
                        </div>
                        <div class="bottom">
                            <div class="icon">
                                <i class="fa-regular fa-calendar"></i> <span> Oct 26</span>
                            </div>

                            <div class="icon">
                                <i class="fa-solid fa-paperclip"></i><span>5</span>
                            </div>

                        </div>
                    </div>
                    <div class="template-1">
                        <div class="top">
                            <div class="top-left">
                                Research
                            </div>
                            <div class="top-right">
                                Done
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde facere ullam amet delectus quaerat? Consequuntur.</p>
                        </div>
                        <div class="bottom">
                            <div class="icon">
                                <i class="fa-regular fa-calendar"></i> <span> Oct 26</span>
                            </div>

                            <div class="icon">
                                <i class="fa-solid fa-paperclip"></i><span>5</span>
                            </div>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

</body>
<!-- Navbar Script -->
<script>
    //adding active class in selected list item
    //     let list = document.querySelectorAll('.list');
    //     for(let i = 0; i<list.length; i++){
    //         list[i].onclick = function(){
    //             let j=0;
    //             while (j<list.length){
    //                 list[j++].className = 'list';

    //             }
    //             list[i].className = 'list active'
    //         }
    //     }
    // </script>

</html>