<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Event Name</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="font-Inter">
    <main class=" lg:p-6">
        
        <!-- Header Section -->
        <section class="eventBan p-8 lg:rounded-md">
            <!-- <div>
                <a href="/events"><button
                        class="lg:bg-violet bg-white py-1 px-2 rounded-md lg:text-white text-violet">Back</button></a>
            </div> -->

            <section class="grid gap-y-8 grid-cols-1 lg:grid-cols-2 mt-8 text-white ">
                <div class="lg:w-3/4 flex flex-col text-center lg:text-start">
                    <div>
                        <span class="text-6xl font-bold"> Dream world wide in Jakarta</span>
                    </div>

                    <div class=" mt-10">
                        <span class="text-2xl">
                            IIIT Sonepat
                        </span>
                        <div class=" mt-2">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aperiam quo,
                                ratione in, eius blanditiis numquam quam odit praesentium ducimus magnam necessitatibus,
                                officiis ab sit ex sapiente iusto aliquid ipsum!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center items-start  ">
                    <div class="bg-white lg:w-1/2 p-4 rounded-md ">
                        <div>
                            <span class="text-black font-semibold text-2xl"> Date & Time</span>
                        </div>
                        <div class="mt-4">
                            <span class="text-neutral opacity-60 text-lg">
                                Saturday, March 18 2024, 9.30 PM
                            </span>
                        </div>

                        <div class="mt-2">
                            <span class="text-violet">Add to calendar</span>
                            <div class="mt-3">
                                <a href="#"><button class="text-white buttonHover bg-violet py-3 w-full rounded-md ">
                                        Book Now
                                    </button></a>
                                <a href="#"><button
                                        class="text-white buttonHover bg-neutral py-3 w-full rounded-md mt-4 ">
                                        Program Promoter
                                    </button></a>
                            </div>
                        </div>

                    </div>
                </div>


            </section>

        </section>
        <!-- Description Section -->
        <section class="grid grid-cols-1 md:grid-cols-2 p-6 lg:gap-x-32 gap-y-12">

            <section class="w-full">
                <!-- Description -->
                <div class=" pr-4">
                    <span class="text-xl font-bold ">
                        Description
                    </span>
                    <div class="mt-2">
                        <p>
                            DesignHub organized a 3D Modeling Workshop using Blender on 16th February at 5 PM. The
                            workshop taught participants the magic of creating stunning 3D models and animations using
                            Blender. It was suitable for both beginners and experienced users. The event was followed by
                            a blender-render competition, which added to the excitement.

                            DesignHub organized a 3D Modeling Workshop using Blender on 16th February at 5 PM. The
                            workshop taught participants the magic of creating stunning 3D models and animations using
                            Blender. It was suitable for both beginners and experienced users. The event was followed by
                            a blender-render competition, which added to the excitement.
                        </p>
                    </div>
                </div>

                <!-- Timing -->
                <div class="mt-6">

                    <div>
                        <span class="text-xl font-bold">Hours</span>
                    </div>

                    <div class="mt-3">
                        <span class="text-neutral opacity-65 text-lg">Weekdays hours:</span><span
                            class="text-violet  font-semibold ml-1">7PM - 10PM</span>
                    </div>

                    <div class="mt-1">
                        <span class="text-neutral opacity-65 text-lg">Sundays hours:</span><span
                            class="text-violet  font-semibold ml-1">7PM - 10PM</span>
                    </div>
                </div>

                <!-- Organizer Contact -->
                <div class="mt-6 lg:w-full w-3/4">
                    <div>
                        <span class="text-xl font-bold">Organizer Contact</span>
                    </div>
                    <span class="mt-1">
                        Please go to <span class="text-violet">www.sneakypeeks.com</span> and refer the FAQ section for
                        more detail
                    </span>


                </div>
            </section>


            <!-- Location Section -->
            <section>
                <div>
                    <span class="text-xl font-bold ">
                        Event Location
                    </span>
                </div>

                <!-- Map -->
                <div class="flex justify-center items-center mt-4">
                    <a href="#">
                        <img src="img1/map.png" alt="" class="h-2/4 w-2/4 lg:h-80 lg:w-[640px] mt-3">

                    </a>
                </div>

                <div class="mt-6">
                    <span class="text-2xl font-thin">Dream world wide in Jakatra</span>
                    <p class="font-thin mt-1">Dummy location generation model by RSU ... Our approach generates more
                        realistic dummy locations </p>
                </div>
                <!-- Tags -->
                <div class="mt-6">
                    <div>
                        <span class="text-xl font-bold ">
                            Tags
                        </span>
                        <div class="w-3/4 mt-4">
                            <span class="bg-stone opacity py-1 px-2 rounded-sm mt-1">Indonesia Event</span>
                            <span class="bg-stone opacity py-1 px-2 rounded-sm mt-1">Jaskaran Event</span>
                            <span class="bg-stone opacity py-1 px-2 rounded-sm mt-1">UI</span>
                            <span class="bg-stone opacity py-1 px-2 rounded-sm mt-1">UI</span>
                            <span class="bg-stone opacity py-1 px-2 rounded-sm mt-1">Seminar</span>
                        </div>
                    </div>
                </div>

                <!-- Share Tags -->
                <div class="mt-6">
                    <div>
                        <span class="text-xl font-bold">Share with friends</span>
                        <div class="mt-4 flex flex-row gap-2">
                            <a href="#"><img src="img1/Facebook.png" alt=""></a>
                            <a href="#"><img src="img1/WhatsApp.png" alt=""></a>
                            <a href="#"><img src="img1/LinkedIn.png" alt=""></a>
                            <a href="#"><img src="img1/Twitter.png" alt=""></a>
                        </div>
                    </div>
                </div>

            </section>

        </section>

        <!-- Card Section -->
        <section class="mt-20 p-6">

            <div>
                <span class="text-xl font-bold">
                    Other events you may like...
                </span>
            </div>
            <section class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6 lg:px-16 mt-6">
                <!-- card-1 -->
                <div class="p-2 cardHover">
                    <a href="/eventhomie" class="cursor-pointer ">
                        <div class=" bg-stone grid grid-cols-1  p-3 rounded-md">
                            <!-- Events Img -->
                            <div>
                                <img src="img1/event1.jpeg" alt="" class="rounded-md">
                            </div>
                            <!-- Events Discription -->
                            <div class="p-2">
                                <div>
                                    <span class="text-lg font-normal">
                                        BestSelller Book Bootcamp -write, Market & Publish Your Book -Lucknow
                                    </span>
                                </div>
                                <div class="mt-8">
                                    <span class="text-md font-thin text-violet">Saturday, March 18, 9.30PM</span>
                                </div>
                                <div>
                                    <span class="text-sm text-neutral font-semibold opacity-80">ONLINE EVENT - Attend
                                        anywhere</span>
                                </div>
    
                            </div>
    
                        </div>
                    </a>
                </div>
                <!-- card-2 -->
                <div class="p-2 cardHover">
                    <a href="/eventhomie" class="cursor-pointer ">
                        <div class=" bg-stone grid grid-cols-1  p-3 rounded-md">
                            <!-- Events Img -->
                            <div>
                                <img src="img1/event2.jpeg" alt="" class="rounded-md">
                            </div>
                            <!-- Events Discription -->
                            <div class="p-2">
                                <div>
                                    <span class="text-lg font-normal">
                                        BestSelller Book Bootcamp -write, Market & Publish Your Book -Lucknow
                                    </span>
                                </div>
                                <div class="mt-8">
                                    <span class="text-md font-thin text-violet">Saturday, March 18, 9.30PM</span>
                                </div>
                                <div>
                                    <span class="text-sm text-neutral font-semibold opacity-80">ONLINE EVENT - Attend
                                        anywhere</span>
                                </div>
    
                            </div>
    
                        </div>
                    </a>
                </div>
    
                <!-- card-3 -->
                <div class="p-2 cardHover">
                    <a href="/eventhomie" class="cursor-pointer ">
                        <div class=" bg-stone grid grid-cols-1  p-3 rounded-md">
                            <!-- Events Img -->
                            <div>
                                <img src="img1/event3.jpeg" alt="" class="rounded-md">
                            </div>
                            <!-- Events Discription -->
                            <div class="p-2">
                                <div>
                                    <span class="text-lg font-normal">
                                        BestSelller Book Bootcamp -write, Market & Publish Your Book -Lucknow
                                    </span>
                                </div>
                                <div class="mt-8">
                                    <span class="text-md font-thin text-violet">Saturday, March 18, 9.30PM</span>
                                </div>
                                <div>
                                    <span class="text-sm text-neutral font-semibold opacity-80">ONLINE EVENT - Attend
                                        anywhere</span>
                                </div>
    
                            </div>
    
                        </div>
                    </a>
                </div>

                <!--card-4-->
                <div class="p-2 cardHover">
                    <a href="/eventhomie" class="cursor-pointer ">
                        <div class=" bg-stone grid grid-cols-1  p-3 rounded-md">
                            <!-- Events Img -->
                            <div>
                                <img src="img1/event2.jpeg" alt="" class="rounded-md">
                            </div>
                            <!-- Events Discription -->
                            <div class="p-2">
                                <div>
                                    <span class="text-lg font-normal">
                                        BestSelller Book Bootcamp -write, Market & Publish Your Book -Lucknow
                                    </span>
                                </div>
                                <div class="mt-8">
                                    <span class="text-md font-thin text-violet">Saturday, March 18, 9.30PM</span>
                                </div>
                                <div>
                                    <span class="text-sm text-neutral font-semibold opacity-80">ONLINE EVENT - Attend
                                        anywhere</span>
                                </div>
    
                            </div>
    
                        </div>
                    </a>
                </div>
                <!-- card-5 -->
                <div class="p-2 cardHover">
                    <a href="/eventhomie" class="cursor-pointer ">
                        <div class=" bg-stone grid grid-cols-1  p-3 rounded-md">
                            <!-- Events Img -->
                            <div>
                                <img src="img1/event1.jpeg" alt="" class="rounded-md">
                            </div>
                            <!-- Events Discription -->
                            <div class="p-2">
                                <div>
                                    <span class="text-lg font-normal">
                                        BestSelller Book Bootcamp -write, Market & Publish Your Book -Lucknow
                                    </span>
                                </div>
                                <div class="mt-8">
                                    <span class="text-md font-thin text-violet">Saturday, March 18, 9.30PM</span>
                                </div>
                                <div>
                                    <span class="text-sm text-neutral font-semibold opacity-80">ONLINE EVENT - Attend
                                        anywhere</span>
                                </div>
    
                            </div>
    
                        </div>
                    </a>
                </div>
                <!-- card-6 -->
                <div class="p-2 cardHover">
                    <a href="/eventhomie" class="cursor-pointer ">
                        <div class=" bg-stone grid grid-cols-1  p-3 rounded-md">
                            <!-- Events Img -->
                            <div>
                                <img src="img1/event3.jpeg" alt="" class="rounded-md">
                            </div>
                            <!-- Events Discription -->
                            <div class="p-2">
                                <div>
                                    <span class="text-lg font-normal">
                                        BestSelller Book Bootcamp -write, Market & Publish Your Book -Lucknow
                                    </span>
                                </div>
                                <div class="mt-8">
                                    <span class="text-md font-thin text-violet">Saturday, March 18, 9.30PM</span>
                                </div>
                                <div>
                                    <span class="text-sm text-neutral font-semibold opacity-80">ONLINE EVENT - Attend
                                        anywhere</span>
                                </div>
    
                            </div>
    
                        </div>
                    </a>
                </div>
                
                
    
            </section>
    
        </section>
     



    </main>

</body>

</html>