<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Community Hub</title>
    <link rel="stylesheet" href="css/pageindex.css">
    <style>
        .slider{
            width: 800px;
            height: 200px;
            border-radius: 10px;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/cclogo.png">
</head>

<body>

    <header>
        <nav class="p-4  font-semibold text-lg  sm:fixed w-full" style="background-image: url(img1/books.jpg);">
            <ul class="flex flex-row gap-8 ml-16">
                <!-- <li class="hover:text-blue-500 cursor-pointer" onclick="redirectToSection('aboutus')">
                    About Us
                </li> -->
                <li class="hover:text-blue-500 cursor-pointer" onclick="redirectToSection('Home')">
                    Home
                </li>
                <li class="hover:text-blue-500 cursor-pointer" onclick="redirectToSection('Features')">
                    Services
                </li>
                <li class="hover:text-neutral-400 cursor-pointer">
                    <a href="/login"
                        class="bg-blue-500 p-1 text-white rounded-md hover:bg-blue-300 hover:text-blue-800 hover:scale-[1.1] duration-150">Login</a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="flex flex-col h-96 justify-center items-center"
        style="background-image: url('img1/books.jpg');" id="Home">

        <div class=" mt-20 self-center flex flex-col justify-center items-center text-center">
            <div class="flex flex-col lg:flex-row">
                <span class="font-semibold text-6xl">Welcome to</span>
                <span class="text-blue-800 font-semibold text-6xl ml-3">
                    College Community Hub
                </span>

            </div>
            <div class=" mt-2">
                <span class="text-3xl font-semibold mt-2 self-start">where</span>
                <span class="">
                    <span id="typewriter" class="text-3xl font-semibold"></span><span id="cursor"
                        class="text-3xl font-semibold">|</span>
                </span>

            </div>
            <div class="mb-20 mt-8">
                <a href="/login">
                    <button
                    class="bg-blue-500 py-3 px-5 text-white rounded-md hover:bg-blue-300 hover:text-blue-800 font-semibold hover:scale-[1.1] duration-150">Sign
                    Up Now!</button>
                </a>
               
            </div>

        </div>






    </section>

    <!-- meetings -->
    <section class="grid grid-cols-1 lg:grid-cols-2 place-items-center -mt-10">
        <div class="">
            <img src="img1/meeting.jpg" alt="" class="self-end">

        </div>
        <div class="px-6 text-center lg:text-start flex flex-col">
            <span class="text-5xl ">
                Experience the enriching blend of cultures and ideas
            </span>

            <span class="mt-2 text-lg text-center lg:text-start">
                Immerse yourself in a vibrant tapestry of cultures and ideas, where the exchange of knowledge and
                diversity are the threads that weave our unique community together
            </span>
        </div>
    </section>

    <section class="grid grid-cols-1 lg:grid-cols-2 place-items-center mt-10 lg:mt-0 ">
        <div class="px-6 text-center flex flex-col order-2 lg:order-1">
            <span class="text-5xl ">
                Unleash your inner hero in you.
            </span>

            <span class="mt-2 text-lg  text-center">
                where every student is a protagonist in their unique story of growth, learning, and adventure. Join us
                on a journey that transcends the ordinary and discovers the extraordinary in every student's tale.
            </span>
        </div>
        <div class="order-1 lg:order-2">
            <img src="img1/students.jpg" alt="" class="self-end">
        </div>

    </section>

    <!-- students -->
    <section class="grid grid-cols-1 lg:grid-cols-2 place-items-center mt-10 lg:mt-0" id="aboutus">
        <div class="">
            <img src="img1/students-meet.jpg" alt="" class="self-end">

        </div>
        <div class="px-6 text-center lg:text-start flex flex-col">
            <span class="text-5xl ">
                From a few to a fandom
            </span>

            <span class="mt-2 text-lg text-center lg:text-start">
                Get a community of any size running with moderation tools and custom member access. Give members special
                powers, set up private channels, and more.
            </span>
        </div>
    </section>







    <div class="text-center mt-20">
        <span class="text-4xl">
            <!-- What we provide... -->
        </span>
    </div>

    <!-- Carousel -->
    <section>
       

    </section>
    <!-- <section class="flex flex-wrap  h-96 mb-20" >
        <div class="w-1/4 flex items-center justify-center flex-col">
            <span class="text-2xl hidden sm:block">
                Create events
            </span>
            <span class="text-2xl sm:hidden">
                Events
            </span>
            <div>
                <img src="img1/img.png" alt="">
            </div>
            
        </div>
        <div class="w-1/4 flex items-center justify-center flex-col">
            <span class="text-2xl hidden sm:block">
                Track activity
            </span>
            <span class="text-2xl sm:hidden">
                Activity
            </span>
            <div>
                <img src="img1/img.png" alt="">
            </div>
        </div>
        <div class="w-1/4 flex items-center justify-center flex-col">
            <span class="text-2xl">
                Participate  
            </span>
            <div>
                <img src="img1/img.png" alt="">
            </div>
        </div>
        <div class="w-1/4 flex items-center justify-center flex-col">
            <span class="text-2xl hidden text-center sm:block">
                Connect with friends
            </span>
            <span class="text-2xl sm:hidden">
                Connect
            </span>
            <div>
                <img src="img1/img.png" alt="">
            </div>
        </div>
    </section> -->

    <section class="flex justify-center items-center my-14 flex-col " id="Features">
        <span class="text-4xl text-center ">
            Begin your journey with us today
        </span>
        <div class="flex justify-around gap-10 mt-6">
            <!-- <button
                    class="bg-blue-500 py-1 px-3 text-white rounded-md hover:bg-blue-300 hover:text-blue-800 font-semibold hover:scale-[1.1] duration-150">Sign In</button> -->
                <a href="/login">
                    <button
                    class="bg-white border border-blue-500 px-5 py-3  text-blue-500 rounded-md hover:bg-blue-500 hover:text-white hover:border-white font-semibold hover:scale-[1.1] duration-150">Register/Sign
                    Up</button>
                </a>
           
        </div>
    </section>


    <footer class="p-8 flex  flex-col sm:flex-row bg-blue-200 justify-center items-center mt-12">
        <div class="  md:p-8">
            <div>
                <span class="text-3xl font-semibold text-blue-900">
                    IMAGINE A PLACE
                </span>
            </div>

            <div class="mt-2 flex flex-row items-center gap-4">
                <img src="img1/india.png" alt="" class="h-8 w-8">
                <span>English</span>
            </div>
        </div>


        <div class="flex flex-row p-8 gap-8">
            <div class="">
                <ul class="font-semibold text-white">
                    <li class="text-blue-900">Product</li>
                    <li>Download</li>
                    <li>Nitro</li>
                    <li>Status</li>
                </ul>
            </div>


            <div class="">
                <ul class="font-semibold text-white">
                    <li class="text-blue-900">Product</li>
                    <li>Services</li>
                    <li>Nitro</li>
                    <li>Status</li>
                </ul>
            </div>
        </div>


        <div class="flex sm:flex-col gap-6">
            <!-- <button class="bg-white p-2 rounded-md border-blue-900 border font-semibold text-blue-900
            hover:text-white hover:border-blue-900 hover:bg-blue-900 ">Sign Up</button> -->
            <a href="/login">
                <button
                class="bg-blue-900 p-2 rounded-md text-white font-semibold border border-blue-900 hover:border-blue-900 hover:bg-white hover:text-blue-900 ">Log
                In</button>
            </a>
       
        </div>

    </footer>







</body>
<script>
    function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
    }


    const words = ["we learn and grow!", "college community thrives!", "very voice matters!", " every student finds their path!"];
    const el = document.getElementById("typewriter");

    let sleepTime = 80;

    let curInd = 0;

    const writeLoop = async () => {
        while (true) {
            let curWord = words[curInd];

            for (let i = 0; i < curWord.length; i++) {
                el.innerText = curWord.substring(0, i + 1);
                await sleep(sleepTime);
            }
            await sleep(sleepTime * 2);


            // for (let i = curWord.length; i > 0; i--) {
            //     el.innerText = curWord.substring(0, i - 1);
            //     await sleep(sleepTime);
            // }
            // await sleep(sleepTime * 2);

            if (curInd === words.length - 1) {
                curInd = 0;
            }
            else {
                curInd++;
            }
        }
    };

    writeLoop();

    //
    function redirectToSection(sectionId) {
        // Scroll to the section
        document.getElementById(sectionId).scrollIntoView({
            behavior: 'smooth' // Optional: smooth scrolling effect
        });
    }


    //slider



</script>

</html>